body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
}

dl {
    overflow: hidden;
    width: 100%;
    /* max-width: 300px; */
    padding: 0;
    margin: 0;
}

dt {
    float: left;
    padding: 0;
    margin: 0;
}

dd {
    float: left;
    padding: 0;
    margin: 0;
}

.work ul {
    padding: 0;
    margin: 0;
}

.work li {
    margin: 0;
    padding: 2px 0px 2px 50px;
    list-style: none;
    background-image: url(../images/flame.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    background-position-y: 9px;
}

h1 {
    font-size: 1.4em;
    color: #e63312;
    line-height: 120%;
    font-weight: 500;
}

h2 {
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 30px;
}

iframe {
    border: none;
    width: 100%;
    height: 1100px;
    margin-top: 30px;
}

#container {
    position: relative;
    width: 100vw;
    max-width: 1100px;
    margin: auto;
}

.child {
    position: absolute;
}

.align-center {
    text-align: center;
}

/*----Header----*/

.nav {
    width: 100%;
    height: 140px;
    box-shadow: 0px 8px 2px -1px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.nav a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    margin: 10px;
    padding-bottom: 6px;
    color: black;
}

.active {
    border-bottom: 5px solid #e63312;
}

.logo {
    top: 80px;
    left: 5%;
}

.logo img {
    width: 90%;
    max-width: 600px;
    height: 100%;
}

.notdienst {
    width: 170px;
    height: 30px;
    line-height: 30px;
    top: 20px;
    background-color: #e63312;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
}

.notdienst a {
    text-decoration: none;
    color: white;
}

/*-----Content----*/

.header-img {
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.fg-img {
    border-right: 8px solid #e63312;
}

.headlineBox {
    left: 10%;
    top: 200px;
    pointer-events: none;
}

.headline {
    fill: white;
    stroke: black;
    stroke-width: 2px;
    font-size: 3.4em;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
}

.headline img {
    width: 250px;
}

.content {
    width: 100%;
    top: 640px;
    background-color: #26272b;
}

.text {
    font-weight: 400;
    line-height: 150%;
    box-sizing: border-box;
    position: relative;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.headerText {
    width: 430px;
    padding: 0px 40px;
    color: white;
    margin: -235px auto 85px 10%;
}

.headerText a {
    color: black;
}

.contentText {
    width: 80%;
    padding: 30px;
    background-color: white;
    color: black;
    border-top: 10px solid #e63312;
    margin: auto;
    margin-top: -80px;
}

.galerie {
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
    margin-top: 20px;
}

.kontakt {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    line-height: 160%;
}

.kontakt a {
    color: black;
    text-decoration: none;
}

.kontakt dl {
    max-width: 390px;
}

.kontakt dt {
    width: 30%;
}

.kontakt dd {
    width: 70%;
}

.impressum {
    font-size: 1em;
    line-height: 130%;
}

.quellen dl {
    max-width: none !important;
}

.quellen dt {
    width: 100%;
}

.quellen dd {
    width: 100%;
}

.notdienstNr {
    padding-top: 10px;
    font-weight: 500;
    font-size: 1.3em;
    display: block;
}

.notdienstNr a {
    text-decoration: none;
    color: black;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row a {
    text-decoration: none;
    color: black;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-6, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-6, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4 {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
}

#slider {
    width: 110px;
    height: 40px;
    right: 0;
}

#delimiter {
    width: 70%;
    height: 40px;
    left: 15%;
    top: 340px;
}

/*-----Footer------*/

.footer-bg {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 0px;
}

.footer {
    color: white;
    font-size: 0.9em;
    line-height: 140%;
    padding: 10px 15px;
}

.col-xs-1 {
    -ms-flex: 0 0 16.666666%;
    flex: 0 0 16.666666%;
    width: 16.666666%;
}

.col-xs-2 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%;
}

.col-xs-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
}

.col-xs-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer dl {
    max-width: 280px;
}

.footer dt {
    width: 22%;
}

.footer dd {
    width: 78%;
}

.leistungen {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

@media (min-width: 992px) {
    .nav a:hover {
        border-bottom: 5px solid #e63312;
    }
    .notdienst {
        right: 10%;
    }
    .nav {
        width: 80%;
        top: 70px;
        left: 10%;
        height: 60px !important;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        background-color: white;
    }
    .nav .icon {
        display: none;
    }
    .nav a {
        margin: 27px 10px 0px 10px;
        line-height: 22px;
    }
    .first-item {
        margin-left: 20px !important;
    }
    .header-img {
        top: 0;
        height: 680px;
    }
    .bg-img {
        background: linear-gradient( rgba(27, 34, 50, 0.2), rgba(27, 34, 50, 0.2)), url(../images/after-huge.jpg);
    }
    .fg-img {
        background: linear-gradient( rgba(27, 34, 50, 0.2), rgba(27, 34, 50, 0.2)), url(../images/before-huge.jpg)
    }
    .logo {
        top: 40px;
        left: 12%;
    }
    .heiztechnik {
        background-image: url(../images/leistungen_Heiztechnik_lg.png);
        height: 400px;
    }
    .badDesign {
        background-image: url(../images/leistungen_BadDesign_lg.png);
        height: 400px;
    }
    .col-lg-1 {
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%;
        max-width: 16.666666%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 66.666666%;
        flex: 0 0 66.666666%;
        max-width: 66.666666%;
    }

    .quellen dt {
        width: 25% !important;
    }

    .quellen dd {
        width: 75% !important;
    }
}

@media (min-width: 768px) {
    dl {
        width: 100%;
    }

    .col-md-1 {
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%;
        max-width: 16.666666%;
    }
    .col-md-2 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-4 {
        -ms-flex: 0 0 66.666666%;
        flex: 0 0 66.666666%;
        max-width: 66.666666%;
    }

    .rowSpan {
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .heiztechnik {
        background-image: url(../images/leistungen_Heiztechnik_md.png);
        height: 460px;
    }
    .badDesign {
        background-image: url(../images/leistungen_BadDesign_md.png);
        height: 460px;
    }

    .quellen dt {
        width: 30%;
    }

    .quellen dd {
        width: 70%;
    }
}

@media (min-width: 600px) {
    .nav {
        height: 150px;
    }
    #delimiter {
        width: 60%;
        left: 20%;
    }
    
    .col-sm-1 {
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%;
        width: 16.666666%;
    }
    .col-sm-2 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        width: 33.333333%;
    }
    .col-sm-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 50%;
    }
    .col-sm-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }

    .headerText a {
        color: white;
    }
}

@media (min-width: 600px) and (max-width: 991px) {
    .header-img {
        top: 150px;
    }
    
}

@media (min-width: 600px) and (max-width: 767px) {
    .heiztechnik {
        background-image: url(../images/leistungen_Heiztechnik_sm.png) !important;
        height: 600px;
    }
    .badDesign {
        background-image: url(../images/leistungen_BadDesign_sm.png);
        height: 600px;
    }

    .quellen dt {
        width: 40%;
    }

    .quellen dd {
        width: 60%;
    }
}

@media (max-width: 399px) {
    .heiztechnik {
        background-image: url(../images/leistungen_Heiztechnik_xxs.png);
        height: 780px;
    }
    .badDesign {
        background-image: url(../images/leistungen_BadDesign_xxs.png);
        height: 780px;
    }
}

@media (max-width: 459px) {
    .headlineBox {
        left: 15px;
    }
    .headline {
        font-size: 2.6em;
        stroke-width: 1px;
    }
    .text {
        width: 100%;
    }
    .headerText {
        width: 100% !important;
    }
}

@media (max-width: 599px) {
    .header-img {
        top: 140px;
    }
    .headerText {
        width: 80%;
        padding: 30px;
        background-color: white;
        color: black;
        border-top: 10px solid #e63312;
        margin: auto;
        margin-top: -80px;
    }

    .links {
        margin-top: 30px;
    }

    .quellen dd {
        padding-left: 20px;
        box-sizing: border-box;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    .heiztechnik {
        background-image: url(../images/leistungen_Heiztechnik_xs.png);
        height: 430px;
    }
    .badDesign {
        background-image: url(../images/leistungen_BadDesign_xs.png);
        height: 430px;
    }
}

@media (min-width: 400px) and (max-width: 761px) {
    iframe {
        height: 1080px;
    }
}

@media (min-width: 762px) {
    iframe {
        height: 760px;
    }
}

/* @media (max-width: 767px) {
    .text {
        background-color: white;
        color: black;
        border-top: 6px solid #e63312;
    }
} */

@media (max-width: 991px) {
    .nav {
        border-bottom: 8px solid #e63312;
    }
    .nav a {
        display: none;
        border: none;
    }
    .last-item {
        padding-bottom: 20px !important;
    }
    .nav a.icon {
        float: right;
        display: block;
        color: white;
        background-color: #e63312;
        border-radius: 0 0 0 12px;
        margin: 0;
        padding: 10px 20px;
        font-size: 2em;
    }
    .nav.responsive {
        z-index: 10;
    }
    .nav.responsive .items {
        background-color: rgba(230, 51, 18, 0.8);
    }
    .nav.responsive .icon {
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: right;
        font-size: 1.5em;
        font-weight: 500 !important;
        color: white;
        padding-right: 15px;
    }
    .nav.responsive a.icon {
        text-align: right;
        border-radius: 0;
        padding: 10px 20px;
        font-size: 2em;
    }
    .active {
        border: none
    }
    .notdienst {
        left: 5%;
        z-index: 20;
    }
    .header-img {
        height: 520px;
    }
    .bg-img {
        background: linear-gradient( rgba(27, 34, 50, 0.2), rgba(27, 34, 50, 0.2)), url(../images/after-huge-md.jpg)
    }
    .fg-img {
        background: linear-gradient( rgba(27, 34, 50, 0.2), rgba(27, 34, 50, 0.2)), url(../images/before-huge-md.jpg)
    }

}