html {
    font-family: sans-serif;
    width: 100%;
}

body {
    background-color: rgba(240, 255, 255, 0.8);
    width: 100%;
}

.container {
    width: 100%:
}

/* Navigation */

.nav-bg {
    background-color: rgba(20, 20, 20, 0.9);
    text-align: right;
    font-size: 1.2em;
    font-weight: 200;
    color: white;
}

.logo {
    padding: 10px 10px 0px 10px;
    margin: 0;
}

.logo img {
    width: 100%;
    max-width: 400px;
}

.no-border {
    border: none !important;
    outline: none !important;
}

.no-border:focus {
    border: none !important;
}

.nav-item {
    color: white !important;
}

.nav-link {
    padding: 4px 12px 4px 12px !important;
}

.nav-link:hover {
    color: red !important;
}

.active {
    font-weight: 500;
}

.align-right {
    text-align: right;
}

.navbar {
    padding: 10px !important;
}

.navbar-toggler {
    padding: 0;
}

/* Header */



#headImage {
    width: 100%;
    height: 220px;
    background-size: cover;
    opacity: 1;
    transition: opacity 2s ease-in;
    transition-delay: 1s;
}

/* Body */

.decollater {
    height: 20px;
    background-color: rgb(225, 244, 244);
}

.headline {
    padding: 20px;
    text-align: center;
    font-family: 'Londrina Solid';
    font-size: 2em;
    line-height: 120%;
    margin: auto;
}

.text {
    text-align: justify;
    hyphens: auto;
    font-size: 1.1em;
    line-height: 130%;
}

.row {
    margin: 0 !important;
}

.pdf {
    text-align: center !important;
}

.whiteContent {
    background-color: white;
    padding-bottom: 30px;
}

.greyContent {
    background-color: rgb(210, 210, 210);
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid rgb(130, 130, 130);
}

.blueContent {
    background-color: rgb(225, 244, 244);
    padding: 20px;
    min-width: 290px;
    text-align: center;
}

.waterButton {
    padding: 10px;
}

/* Footer */

.footer {
    background-color: rgba(20, 20, 20, 0.9);
    margin-bottom: 30px;
    padding: 15px;
    color: white;
    font-size: 0.9em;
    line-height: 150%;
}

.links {
    text-align: center;
    padding-top: 20px;
}

.links a {
    text-decoration: none;
    color: inherit;
}

.links a:hover {
    color: red;
}

@media (min-width: 576px) {
    .headline {
        width: 500px;
    }
    .links {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .blueContent {
        width: 400px;
        margin: -40px auto -40px auto;
    }
}

@media (min-width: 768px) {
    /* Header */
    #headImage {
        height: 320px;
    }
    .headline {
        width: 500px;
    }
}

@media (min-width: 992px) {
    /* Header */
    #headImage {
        height: 500px;
    }
    /* Navigation */
    .nav-border {
        border-right: 2px solid white;
    }
    .navbar {
        padding: 16px !important;
    }
    .nav-link {
        color: white !important;
        padding: 0 12px 0 12px !important;
    }
    .logo {
        padding: 20px 20px 10px 20px;
        margin: 0;
    }
    /* Body */
    .headline {
        font-size: 2.5em;
        min-width: 600px;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 0 !important;
    }
}